html {
  font-family: "Inter", sans-serif;
}

p {
  font-size: 62.5%;
}

header {
  min-width: 20rem;
  width: 100%;
  height: auto;
  padding: 1rem 1.25rem;
  background-color: #faf8f6;
}
header .nav-bar-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav-bar-container .logo-container {
  width: 100%;
  height: auto;
}
header .nav-bar-container .logo-container p {
  font-size: 1.563rem;
  color: #3a86ff;
  font-weight: 700;
}
header .hero-container {
  width: 100%;
  height: auto;
}
header .hero-container .hero-image {
  width: auto;
  height: auto;
}
header .hero-container .hero-image img {
  width: 100%;
  height: auto;
}
header .hero-container .hero-info-container {
  width: 100%;
  height: auto;
}
header .hero-container .hero-info-container h1 {
  font-size: 1.563rem;
}
header .hero-container .hero-info-container p {
  font-size: 0.875rem;
  text-align: justify;
  line-height: 1.25rem;
}
header .hero-container .hero-info-container .button-container {
  list-style: none;
  background-color: #00acee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-radius: 4px;
}
header .hero-container .hero-info-container .button-container li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  gap: 5px;
}
header .hero-container .hero-info-container .button-container li i {
  width: auto;
  height: auto;
}
header .hero-container .hero-info-container .button-container li a {
  width: auto;
  height: auto;
  font: 0.875rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
header .hero-container .hero-info-container .learn-more-container {
  width: 100%;
  height: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .hero-container .hero-info-container .learn-more-container li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .hero-container .hero-info-container .learn-more-container li a {
  text-decoration: none;
  color: #005f73;
  font-weight: 700;
}
header .hero-container .hero-info-container .hero-users-container {
  width: 100%;
  height: auto;
}
header .hero-container .hero-info-container .hero-users-container .users-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}
header .hero-container .hero-info-container .hero-users-container .users-container img {
  position: relative;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(1) {
  z-index: 8;
  left: -40px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(2) {
  z-index: 7;
  left: -20px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(3) {
  z-index: 6;
  left: 3px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(4) {
  z-index: 5;
  left: 25px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(5) {
  z-index: 4;
  left: 47px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(6) {
  z-index: 3;
  left: 65px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(7) {
  z-index: 2;
  left: 80px;
}
header .hero-container .hero-info-container .hero-users-container .users-container img:nth-child(8) {
  z-index: 1;
  left: 100px;
}
header .hero-container .hero-info-container .hero-users-container .users-join {
  width: 100%;
  width: auto;
}
header .hero-container .hero-info-container .hero-users-container .users-join p span {
  color: #005f73;
  font-weight: bold;
}

main {
  width: 100%;
  height: auto;
  min-width: 120px;
  padding-bottom: 3rem;
}
main .subtitle-container-main {
  width: auto;
  height: auto;
  padding: 0.938rem;
}
main .subtitle-container-main h2 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: bold;
}
main .features-tweet-container {
  padding: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.25rem;
}
main .features-tweet-container .cards-features {
  width: 100%;
  height: auto;
  border: 1px solid #afadad;
  padding-bottom: 0.938rem;
  border-radius: 0.375rem;
}
main .features-tweet-container .cards-features h2, main .features-tweet-container .cards-features p {
  padding: 0.469rem 0.938rem;
  margin: 0;
}
main .features-tweet-container .cards-features .image-container-cards {
  width: auto;
  height: auto;
  padding: 0.625rem 0.938rem;
  margin: 0;
}
main .features-tweet-container .cards-features .image-container-cards img {
  width: 15vw;
  height: auto;
}
main .features-tweet-container .cards-features h2 {
  font-weight: bold;
}
main .features-tweet-container .cards-features p {
  color: #616060;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.customers-say-container {
  width: 100%;
  height: auto;
  padding: 0.938rem;
  min-width: 20rem;
  background-color: #caf0f8;
}
.customers-say-container .customers-say-subtitle h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
.customers-say-container .customers-say-cards-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.customers-say-container .customers-say-cards-container .customers-say-cards {
  border: 1px solid transparent;
  padding-bottom: 0.938rem;
  border-radius: 0.375rem;
  background-color: #fff;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-say-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-say-header figure {
  margin: 0;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-say-header .customers-user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 5px;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-say-header .customers-user-info .users-name p {
  padding: 2px;
  margin: 0;
  font-size: 0.75rem;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-say-header .customers-user-info .users-name P:first-child {
  font-weight: 700;
  font-size: 1rem;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-users-text {
  padding: 0 1.375rem;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-users-text p {
  width: 100%;
  font-size: 0.875rem;
  line-height: 25px;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.25rem;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-footer-container p {
  font-size: 0.75rem;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-footer-container figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 5px;
}
.customers-say-container .customers-say-cards-container .customers-say-cards .customers-footer-container figure img {
  width: 100%;
  height: 4vh;
}

/*# sourceMappingURL=output.css.map */
